body{
	background-image: url(futbol1.png);
    background-repeat: no-repeat;
    background-size: 1600px 1500px
}

p {
	color: blue;

}

li {
	color: blue;
	list-style: none;
}

.btn-neon {
	position: relative;
	display: inline-black;
	padding: 15px 30px;
	letter-spacing: 4px;
	text-decoration: none;
	overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
	background: white;
	box-shadow: 0 0 10px white, 0 0 030px white, 0 0 70px white;
	transition-delay: 0.3s;
}
